.reveal .reveal-nbis-home {
    position: absolute;
    left: 40px;
}

.reveal .reveal-nbis-home.reveal-nbis-home-top {
    top: 13px;
}

.reveal .reveal-nbis-home.reveal-nbis-home-bottom {
    bottom: 13px;
}

.reveal .reveal-nbis-home .reveal-nbis-home-button {
    display: inline-block;
    color: $link-color;
    font-size: .9em;
    border-radius: 12px;
    width: 30px;
    text-align: center;
    padding: 2px;
    margin: 0 4px;
}

.reveal .reveal-nbis-home .reveal-nbis-home-button:hover {
    color: #ffffff;
}

.hidden {
    display: none;
}

.reveal .reveal-nbis-home .slide-menu-button {
    position: initial;
    left: initial;
    bottom: initial;
}

.reveal .reveal-nbis-home .slide-menu-button a {
    color: white;
}

.reveal .reveal-nbis-home .playback {
    position: relative;
    left: 4px;
    bottom: -17px;
}

.reveal.paused .reveal-nbis-home .reveal-nbis-home-pause-button {
    z-index: 110;
    color: #757575;
}
