// SciLife color scheme: see https://www.scilifelab.se/community-pages/resources/visual-identity/
$lime: #a7c947 !default;
$lime25: #e9f2d1 !default;
$lime50: #d3e4a3 !default;
$lime75: #bdd775 !default;

$teal: #045c64 !default;
$teal25: #c0d6d8 !default;
$teal50: #82aeb2 !default;
$teal75: #43858b !default;

$aqua: #4c979f !default;
$aqua25: #d2e5e7 !default;
$aqua50: #a6cbcf !default;
$aqua75: #79b1b7 !default;

$grape: #491f53 !default;
$grape25: #d2c7d4 !default;
$grape50: #a48fa9 !default;
$grape75: #77577e !default;

$lightgray: #e5e5e5 !default;
$mediumgray: #a6a6a6 !default;
$darkgray: #3f3f3f !default;
$black: #202020 !default;
